# Python
__pycache__/
*.py[cod]
*$py.class

# Environment variables
.env

# Virtual Environment
venv/
env/
.venv/

# IDE settings
.vscode/
.idea/

# Local Storage Simulation (Mock S3)
mock_s3_data/

# Logs
*.log
